body{
    font-family: 'Red Hat Text', sans-serif;
    font-size: 14px;
    background-color:hsl(235, 16%, 14%);
    background-image: url("./images/bg-stars.svg");
    background-size: 100%;
    margin: 0;
}
.card{
    background-color:hsl(236, 21%, 26%) ;

    width: 50px;
    height: 50px;
    flex-basis: 2em;
    position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
        
}
.circle-1{
    border-radius:0 50% 50% 0;
}
.circle-2{
    border-radius:50% 0 0 50%;
}
.flip-horizontal-top1{
	animation: flip-horizontal-bottom 1s ease-in 1s infinite backwards;

            margin: 10px; 
            color: hsl(345, 95%, 68%);
            border-style: none;
            text-align: center;
            position: center;
            width: 100%;
            height: 1.8em;
            text-transform: uppercase;
}
.flip-horizontal-top2 {
    animation: flip-horizontal-bottom 60s ease-in 1s infinite backwards;

            margin: 10px; 
            color: hsl(345, 95%, 68%);
            border-style: none;
            text-align: center;
            position: center;
            width: 100%;
            height: 1.8em;
            text-transform: uppercase;
}

.flip-horizontal-top {
	-webkit-animation: flip-horizontal-top 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: flip-horizontal-top 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}
.flip-horizontal-top3 {
    animation: flip-horizontal-top 3600s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
            margin: 10px; 
            color: hsl(345, 95%, 68%);
            border-style: none;
            text-align: center;
            position: center;
            width: 100%;
            height: 1.8em;
            text-transform: uppercase;
}
.flip-horizontal-top4 {
	        animation: flip-horizontal-bottom 86400s ease-in 1s infinite backwards;

            margin: 10px; 
            color: hsl(345, 95%, 68%);
            border-style: none;
            text-align: center;
            position: center;
            width: 100%;
            height: 1.8em;
            text-transform: uppercase;
}


.counter{
    margin: 10px; 
    color: hsl(345, 95%, 68%);
    border-style: none;
    text-align: center;
    position: center;
    width: 100%;
    height: 1.8em;
    text-transform: uppercase;
    gap: 2rem;  
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    position: relative;
    height: 100vh;
    margin:0;
    padding: 0 1em;
}

.footer{
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: bottom;
    height: 20vh;
    width: 100%;
    background-image: url("./images/pattern-hills.svg");
}
.content-footer{
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.icons-footer{
    display: flex;
    gap: 2.5em;
    margin-top: 3em;
    justify-content: center;
}
.footer-icons:hover {
    filter: hue-rotate(68deg) brightness(85%);
    cursor: pointer;
}
h1{
    text-align: center;
    letter-spacing: .5em;
    text-transform: uppercase;
    font-size: 1,25rem;
    font-weight: 700;
    color: #fff;
    padding-top: 7.5rem;
}
.atributtion{
    font-size: .7rem;
    color: #fff;
    text-align: center;
    align-items: center;
    gap: 5px;
    justify-content: space-between;

}
.atributtion a{
    text-decoration: none;
    color: hsl(237, 18%, 59%)
}
.subtittle{
    color:   hsl(237, 18%, 59%);
    text-transform: uppercase;
    font-size: .5em;
    line-height: 3;
    letter-spacing: .5em;
    position: fixed;

}
/* ----------------------------------------------
 * Generated by Animista on 2021-2-6 14:40:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-horizontal-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }
  @keyframes flip-horizontal-bottom {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }
  
